In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
# sales = name of main dataframe AFTER it has been cleaned up & merged
# cpi = inflation table
# joblessclaims = unemployment table
# train = unfiltered Walmart Sales Data

In [3]:
# Read cpi.csv
CPIColNames = ['Date', 'CPI']
cpiRaw = pd.read_csv('cpi.csv', parse_dates=['Date'], header=None, index_col = 0, names=CPIColNames)


# Read Jobless Claims Data csv
JobColNames = ['Date', 'Claims']
joblessclaims = pd.read_csv('initial_joblessclaims.csv', parse_dates=True, index_col = 0, header = None, names=JobColNames)


# Read the Walmart Sales Data csv
train = pd.read_csv('train.csv')
#df.sort_values(by='Date')

In [4]:
# Start Date for Walmart Data = 2/5/2010 or 05/02/2010
# End Date for Walmart Data = 10/26/2012
#print(cpiRaw)

In [5]:
# Slice out the selected CPI months from February 2010 through October 2012
cpi = cpiRaw.loc['Feb-10':'Oct-12', :]
cpi.reset_index(inplace=True)
#cpi['Date'] = ['Date'])

#Slice only the Jobleess Claims dates from from February 2010 through October 2012
JoblessClaims = joblessclaims.loc['6/2/2010':'27/10/2012', :]
JoblessClaims = pd.DataFrame(JoblessClaims)

# Convert to DateTime
#cpi['Date'] = pd.to_datetime(cpi['Date'])
JoblessClaims.reset_index(inplace=True)
JoblessClaims['Date'] = pd.to_datetime(JoblessClaims['Date'])

In [6]:
# len(cpi)
# cpibins = cpi['Date']
# print(cpibins)

In [7]:
train_subset = train[:1000]

In [8]:
train_subset["datetime_Date"] = pd.to_datetime(train_subset.Date)

C:\Users\Bonew\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
train_subset.dtypes

Store                     int64
Dept                      int64
Date                     object
Weekly_Sales            float64
IsHoliday                  bool
datetime_Date    datetime64[ns]
dtype: object

In [10]:
JoblessClaims.Date + datetime.timedelta(days=-1)

NameError: name 'datetime' is not defined

In [11]:
JoblessClaims["Date_sub1"] = JoblessClaims.Date + dt.timedelta(days=-1)

In [12]:
JoblessClaims.head()

        Date   Claims  Date_sub1
0 2010-06-02  512.463 2010-06-01
1 2010-02-13  482.078 2010-02-12
2 2010-02-20   458.16 2010-02-19
3 2010-02-27  474.662 2010-02-26
4 2010-06-03  462.679 2010-06-02

In [54]:
cpi["cpi_date"] = pd.to_datetime(cpi.Date, format="%b-%y")

C:\Users\Bonew\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [56]:
JoblessClaims["jobless_date"] = JoblessClaims.apply(lambda x: x["Date_sub1"].replace(day=1),axis=1)

In [58]:
train_subset['train_date'] = train_subset.apply(lambda x: x["datetime_Date"].replace(day=1),axis=1)
JoblessClaims.head()

C:\Users\Bonew\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

        Date   Claims  Date_sub1 jobless_firstofmonth jobless_date
0 2010-06-02  512.463 2010-06-01           2010-06-01   2010-06-01
1 2010-02-13  482.078 2010-02-12           2010-02-01   2010-02-01
2 2010-02-20   458.16 2010-02-19           2010-02-01   2010-02-01
3 2010-02-27  474.662 2010-02-26           2010-02-01   2010-02-01
4 2010-06-03  462.679 2010-06-02           2010-06-01   2010-06-01

In [59]:
train_subset.head()

   Store  Dept       Date  Weekly_Sales  IsHoliday datetime_Date train_date
0      1     1   2/5/2010      24924.50      False    2010-02-05 2010-02-01
1      1     1  2/12/2010      46039.49       True    2010-02-12 2010-02-01
2      1     1  2/19/2010      41595.55      False    2010-02-19 2010-02-01
3      1     1  2/26/2010      19403.54      False    2010-02-26 2010-02-01
4      1     1   3/5/2010      21827.90      False    2010-03-05 2010-03-01

In [73]:
# TEST CODE
# bins = cpi['cpi_date']
# binlabels = ['Dates']

# train_subset['sales_date_please_work'] = pd.cut(train_subset['Date'], bins, labels=binlabels)

TypeError: Cannot cast ufunc less input from dtype('<m8[ns]') to dtype('<m8') with casting rule 'same_kind'

In [69]:
merge1 = pd.merge(train_subset, cpi, how='inner', left_index=True, right_index=True)
# merge2 = pd.merge(merge1, JoblessClaims, how='outer', left_index=True, right_index=True)
# merge2 = pd.merge(train_subset, JoblessClaims, how='outer', left_index=True, right_index=True)
# merge2.sort_values('jobless_date', ascending=True)
merge1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 0 to 32
Data columns (total 11 columns):
Store                  33 non-null int64
Dept                   33 non-null int64
Date_x                 33 non-null object
Weekly_Sales           33 non-null float64
IsHoliday              33 non-null bool
datetime_Date          33 non-null datetime64[ns]
train_date             33 non-null datetime64[ns]
Date_y                 33 non-null object
CPI                    33 non-null object
cpi_datetime_parsed    33 non-null datetime64[ns]
cpi_date               33 non-null datetime64[ns]
dtypes: bool(1), datetime64[ns](4), float64(1), int64(2), object(3)
memory usage: 2.9+ KB

In [38]:
#merge2['first_of_month'] = merge2.groupby([merge2['cpi_datetime_parsed'], ['jobless_firstofmonth'], ['train_date']]).mean()
#####merge2['DDate'] = merge2['cpi_datetime_parsed'].groupby(merge2['jobless_firstofmonth']) -> THIS RUNS
#sales.groupby('cpi_datetime_parsed')['jobless_firstofmonth'].apply(list)
# sales = merge2.groupby([merge2['cpi_datetime_parsed', 'jobless_firstofmonth', 'train_date'])
#sales.head()
#type(merge2)

In [78]:
new = pd.concat([cpi, JoblessClaims, train_subset], axis=0, sort=True)

In [80]:
new.head()

,CPI,Claims,Date,Date_sub1,Dept,IsHoliday,Store,Weekly_Sales,cpi_datetime_parsed,datetime_Date,jobless_firstofmonth,train_date
0,173.419,NaN,Feb-10,NaT,NaN,NaN,NaN,NaN,2010-02-01,NaT,NaT,NaT
1,174.798,NaN,Mar-10,NaT,NaN,NaN,NaN,NaN,2010-03-01,NaT,NaT,NaT
2,175.333,NaN,Apr-10,NaT,NaN,NaN,NaN,NaN,2010-04-01,NaT,NaT,NaT
3,175.333,NaN,May-10,NaT,NaN,NaN,NaN,NaN,2010-05-01,NaT,NaT,NaT
4,173.899,NaN,Jun-10,NaT,NaN,NaN,NaN,NaN,2010-06-01,NaT,NaT,NaT

In [ ]:
new = new.dropna()
print(new)

In [ ]:
JobColNames = ['Date', 'Claims']
joblessclaims = pd.read_csv('initial_joblessclaims.csv', parse_dates=True, index_col = 0, header = None, names=JobColNames)

#Slice only the dates from the list
JoblessClaims = joblessclaims.loc['6/2/2010':'27/10/2012', :]

# Convert to DateTime
#JoblessClaims = pd.to_datetime(joblessclaims['Unnamed: 0'], format='%d%m%y')

In [ ]:
df11 = cpi.set_index(['Date','CPI'])
df22 = joblessclaims.set_index(['Date','Claims'])

df = df11.combine_first(df22).astype(int).reset_index()

In [ ]:
    #joblessclaims.columns = ['Date', 'Jobless Claims']
#joblessclaims = np.array(joblessclaims)

In [ ]:
# # setup the dataframe
# cpi = pd.read_csv("initial_joblessclaims.csv", na_values=["0"],
#                 parse_dates=['Date'])
# df.to_csv('new.csv', index=True, columns=fields)

# dt = pd.date_range("08-11-2014","08-27-2014", index=True)
# #idx = pd.DatetimeIndex(dt, index=True)

In [ ]:
cpi.append["Column"]

In [ ]:
# Use for loop to search for the month to correspond to dates in "train" and "joblesssclaims".